eval "$(/opt/homebrew/bin/brew shellenv)"
export HOMEBREW_BUNDLE_FILE=~/.Brewfile
export SSH_AUTH_SOCK=/Users/{{ .chezmoi.username }}/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh